h1 {
  color: beige;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  height: 28px;
  line-height: 28px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 100;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
li {
  color: rgb(251, 251, 251);
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 19.3px;
  list-style: none;
}
ul {
  margin: 0 0 10;
  padding: 0;
}
.weather-border {
  border: 2px solid #00b5b8;
  padding: 20px;
  margin: 40px auto;
  border-radius: 30px;

  box-shadow: 60px rgba(7, 44, 29, 0.933);
  max-width: 625px;
  background: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2cacd1 65%,
    #35eb93 100%
  );
}
.temp {
  color: rgb(33, 73, 193);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 64px;
  font-stretch: 100%;
  font-weight: 400;
  font-style: normal;
  height: auto;
  line-height: 1px;
  text-align: left;
}
.weather-search {
  margin-bottom: 15px;
}
h5 {
  color: #3d3393;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: auto;
}
.weather-temperature .units {
  color: white;
  position: relative;
  font-size: 15px;
  top: -42px;
}
.float-left {
  font-size: 75px;
  color: rgb(28, 218, 168);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-right: 10px;
}

.search-form {
  max-width: 500px;
  padding: 0px;
  margin-right: 25px;
}
h2 {
  color: #35eb93;
}
.weather-forcast {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: rgb(220, 228, 240);
}
.weather-forcast-date {
  font-size: 16px;
  color: aquamarine;
}
.weather-forecast {
  color: rgb(220, 228, 240);
  text-align: center;
}
.active {
  color: white;
}
.celsiustemps {
  color: white;
}
